.running-project-details {
	p {
		width: 549px;
		height: 124px;
		font-family: Montserrat;
		font-weight: normal;
		font-size: 16px;
		line-height: 30px;
		text-align: left;
		color: #8d8d8d;
	}
	.running-project-btn {
		width: 178px;
		height: 60px;
		background: rgba(42, 252, 152, 100);
		border-radius: 50px 0px;
		border: none;
	}
}
